{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Благодарность {% endblock %}</h1>
{% endblock %}

{% block text_main_1 %}
    <h5>Спасибо большое, что уделили время моему небольшому исследованию.<br>
        <br>
        Если у вас есть вопросы, то вы всегда можете мне написать (контакты внизу).<br>
        <br>
        А вот если вам интересны результаты, то по этой ссылочке можно узнать текущую статистику исследования.
    </h5>
{% endblock %}

{% block text_next %}
    <a href="/statistics" class="link-secondary"><h4><u>Статистика!</u></h4></a>
{% endblock %}

{% block foot %}
    <h6><b>Мои контакты</b>: @steffi_haski (telegram), если вам что-то интересно <br>
      <b>Вдохновители исследования</b>: НИС "акциональность и аспект", С.Г. Татевосов, С.К. Михайлов</h6>
{% endblock %}
