{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Исследование акциональных классов французского языка {% endblock %}</h1>
{% endblock %}

{% block text_enter %}
    <h4>Добро пожаловать на страницу моего небольшого исследования!</h4>
{% endblock %}

{% block text_image_1 %}
    Это Татевосов Сергей Георгиевич
    <br>
    <img src="static/img/tatevosov.jpg" alt="Татевосов Сергей Георгиевич" class="rounded float-right">
{% endblock %}

{% block text_main_1 %}
    <h4><u>Немного предыстории:</u></h4>
    <h5>В этом полугодии я посещала научно-исследовательский семинар <b><i>Акциональность и Аспект</i></b>. Здесь я познакомилась с интересной акцирнальной классификацией глаголов Татевосова Сергея Георгиевича.<br>
        <br>
    Во время прочтения книги стало понятно, что материала для подобной классификации собрано не прям уж так много. А основные языки, которые рассматривались в исследовании были достаточно редкими, на мой взгляд.<br>
        <br>
    Несколько раз в книге упоминался и мой любимый французский язык, но примеров именно <b><i>акциональных классов</i></b> не приводилось.<br>
        <br>
    Так как в интернете сходу материалы не нашлись (распределение по акциональным классам некоторых глаголов и сам набор акциональных классов), то я подумала следующее:<br>
        <br>
    Было бы интересно посмотреть, какие акциональные классы смогут выделить обычные люди, которые знают французский язык на продвинутом уровне (B2-C2) или носители языка (для них инструкция высылалась отдельно на французском,
        так как не очень хотелось перегружать эту страничку).
    </h5>
{% endblock %}

{% block text_image_2 %}
    Наш замечательный преподватаель — Стёпа
    <br>
    <img src="static/img/styopa.jpg" alt="Стёпа" class="rounded float-left">
{% endblock %}

{% block text_main_2 %}
    <h4><u>И что это вообще такое?</u></h4>
    <h5>Конечно полностью я вам сейчас всё не опишу, так как это очень долго. К тому же это исследование направлено именно на то, как люди воспринимают <b>сами и интуитивно</b> глагол.
        Но если вам станет интересно после почитать об этом, то рекоммендую книгу <i>С.В.Татевосова</i> <b><i>"Глагольные классы и типология акциональности"</i></b>.
        Именно благодаря её мы знакомились на курсе с акциональностью. В целом она показалась мне приятной и достаточно понятной.<br>
        <br>
    Чуть ниже я опишу основные вещи, которые понадобятся для исследования. Пожалуйста, прочитайте их, если вы собираетесь проходить анкету.<br>
    </h5>
{% endblock %}

{% block text_description %}
    <h4><u>Я готов. Рассказывайте!</u></h4>
    <h5><b><i>Акциональность</i></b> — семантическая характеристика глагола; множество интерпретаций, которыми он обладает; эти интерпретации отличаются на (не)предельность, динамичность, мгновенность? временность? и ещё много всего...
        <i>(определение by Стёпа Михайлов)</i> <br>
        <br>
        <u>На какие штуки мы будем разделять наши глаголы?</u> <br>
        <br>
        <b><i>Состояние (Position)</i></b> — не подразумевает изменене, оцениваем одно мгновение ситуации. <br>
        <i>Пример</i>: Я сижу (Je suis assis). Подразумевает изменение? Нет. Одно мгновение ситуации? Да, что в одной точке времени мы сидим, что в другой, ничего не меняется (только если не настанет следующее действие, например, встаю). <br>
        <br>
        <b><i>Процесс (Processus)</i></b> — подразумевает изменение, оцениваем несколько мгновений ситуации. <br>
        <i>Пример</i>: Я бегу (Je cours). Подразумевает изменение? Да, мы же перемещаемся в пространстве. Несколько мгновений ситуации?
        Да, в одной точке времени мы в одном месте, в другой, меняем местоположение и наше положение тела тоже. Чтобы узнать результат действия надо несколько точек на ленте времени посмотреть. <br>
        <br>
        <b><i>Вхождение в состояние (entrée en Position)</i></b> — сочетается со штукой типо "за 10 минут/секунд и т.д." (Умное понятие: сочетание с обстоятельствами срока. Вообще, это сочетание = языковой тест на квантованность, к сожалению,
        про квантованность долго расскаывать. Примите просто это на веру :) ), настпуление состояния после окончания действия. <br>
        <i>Пример</i>: Я сел (Je me suis assis). Сочетается с обстоятельствами срока? Да, за 10 секунд я сел на стул (en 10 secondes je me suis assis sur une chaise).
        Наступает состояние после этого действия? Да, как только мы уселись, мы переходим в состояние сидения (Да, это всё странно!) <br>
        <br>
        <b><i>Вхождение в процесс (entrée en Processus)</i></b> — сочетается с обстоятельствами срока, настпуление процесса после окончания действия. <br>
        <i>Пример</i>: Вода закипела (L'eau a bouilli). Сочетается с обстоятельствами срока? Да, за 10 минут вода закипела (en 10 minutes l'eau a bouilli).
        Наступает процесс после этого действия? Да, как только вода закипает, то она продолжает дальше кипеть (Если мы не выключим огонь или она не выкипит). <br>
        <br>
        <b><i>Мультипликативный процесс (Processus multiplicatif)</i></b> — серия событий; есть морфологически связанный "глагол", описывающий единичный квант этого процесса (Может быть тем же самым:) <br>
        <i>Пример</i>: Я покашлял (J'ai toussé). Cерия событий? Да, кашлять = много раз кашлянуть. Есть морфологически связанный "глагол"? Да, я кашлянул (J'ai toussé)
    </h5>
{% endblock %}

{% block text_next %}
    <a href="/anketa" class="link-secondary"><h4><u>А теперь можно перейти к анкете!</u></h4></a>
{% endblock %}

{% block foot %}
    <h6><b>Мои контакты</b>: @steffi_haski (telegram), если вам что-то интересно <br>
      <b>Вдохновители исследования</b>: НИС "акциональность и аспект", С.Г. Татевосов, С.К. Михайлов</h6>
{% endblock %}
